<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Trincheira - Comunicação Visual">
<meta property="og:description" content="Agência independente de marketing digital, soluções artísticas e websites.">
<meta property="og:image" content="https://images.pexels.com/photos/132340/pexels-photo-132340.jpeg">
<meta property="og:url" content="https://www.trincheira.ml/">
<meta name="twitter:card" content="summary_large_image">
<meta charset="UTF-8">
<meta name="abstract" content="Agência independente de marketing digital, soluções artísticas e websites.">
  <meta name="description" content="Trincheira Comunicação Visual">
  <meta name="keywords" content="Fazersite,marketing,design,comunicação,inovação,cardapio,">
  <meta name="author" content="Trincheira - Equipe">
  <meta name="apple-mobile-web-app-capable" content="yes">
<meta content="yes" name="apple-touch-fullscreen" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="webauthn-auth-enabled" content="true">
<meta name="webauthn-registration-enabled" content="true">
    <meta name="google-site-verification" content="v-idfmyEfHZYYgdGBs74XFMpBi0Vc_9Qr2kMNF0Wzm8" />
    <link rel="stylesheet" href="./mokai/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/7.6.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/7.6.1/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
    <!-- FONT AWSOME ICONS-->

    <link rel="stylesheet" href="./css/all.css">
    <title>Trincheira</title>
</head>
<body>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
  
    <!-- PRINCIPAL -->
    <!-- Utilizei Jquery e Vue.js ;) -->
    
        
      <div id="app">
        <section>
            <div class="container-central">
                <img src="./mokai/assets/logo.png" alt=""><br>
                <h1 class="titulo-titulo" data-aos="fade-right">Mokai Delivery</h1> <br>
                <button class="btn-acessar" @click="mostrar = !mostrar">Acessar Cardápio</button>  
            </div>  
        </section>
        <section>

            <div v-bind:class="{cardapio, mostrar}"> 
                <!-- CLOSE MENU WINDOW -->
                <div class="fechar" @click="mostrar = !mostrar">
                    <i class="fas fa-times"></i>
                </div>

                <div class="cardapio-content">
                    
                    
                    <div class="img-pastas">
                        <div class="logo-cardapio">
                           <img width="80px" height="80px"src="./mokai/assets/logo.png" alt="">
                        </div>      
                    </div>

                   <div style="text-align: center; margin-top: 45px; margin-bottom: 35px">
                    <h1 href="#" class="titulo-cardapio">@mokaidelivery</a>
                </div> 
                <div class="infos">Taxa de Entrega <span class="valor-valor">R$ 5,00</span></div>   
                <form class="cardapio-form">
                    <br>
                    <div class="nome">
                        <h3 class="tipo-escolha" style="margin-bottom: 14px">Digite seu Nome</h3>
                        <input type="text" name="nome" id="nome-nome" placeholder="Maria de Lurdes" required>
                        <span id="caraio"></span>
                    </div>      
                    <div class="endereco">
                        <h3 class="tipo-escolha" style="margin-bottom: 14px">Digite seu Endereço</h3>
                        <input type="text" name="endereco" placeholder="Rua, Bairro, Número" required>
                    </div>    
                    <!-- Combos  -->

                        <h1 class="combos-title">Combos:</h1>

                    <!-- Combos  -->

                    <div class="combo" id="combo1">
                        Combo Executivo 01 
                        <i class="fas fa-caret-down" style="font-size: 24px; float: right"></i>
                    </div>
                    <div class="produtos" id="combo1-lista">
                        <div class="img-combo" id="img-combo">
            
                        </div>
                        <ul>
                            <li v-for="produtos in combo1">{{produtos}}</li>
                        </ul>
                        <div class="valorcombo"><span>R$ 24,90</span></div>
                        <div style="background: rgb(160, 9, 9); padding: 5px 5px; text-align: center; font-size: 18px" @click="add(combocombo1)">
                            Selecionar <i class="fas fa-plus-circle" style="20px"></i>
                        </div>
                    </div>
                    <div v-on:click="desabilitar = !desabilitar">

                        <span>Desabilitar</span>
            
                     </div> 

                    <div class="combo" id="combo2">
                        Combo Executivo 02 
                        <i class="fas fa-caret-down" style="font-size: 24px; float: right"></i>
                    </div>
                    <div class="produtos" id="combo2-lista" style="display: none;">
                        <div class="img-combo" id="img-combo2">
            
                        </div>
                        <ul>
                            <li v-for="produtos in combo2">{{produtos}}</li>
                        </ul>
                        <div class="valorcombo"><span>R$ 37,90</span></div>
                        <div style="background: rgb(160, 9, 9); padding: 5px 5px; text-align: center; font-size: 18px" @click="add(combocombo2)">
                            Selecionar <i class="fas fa-plus-circle" style="20px"></i>
                        </div>
                    </div>

                    Seu pedido: <br><div class="pedido" v-for="unidade in pedido">{{unidade}} </div>    <br>
                    <!--
                    <div class="combo" id="combo2">
                        Combo Executivo 02 
                        <i class="fas fa-caret-down" style="font-size: 24px; float: right"></i>
                    </div>
                    <div class="produtos" id="combo2-lista" style="display: none;">
                        <ul>
                            <li v-for="produtos in combo2">{{produtos}}</li>
                        </ul>
                        <div style="background: rgb(160, 9, 9); padding: 5px 5px; text-align: center; font-size: 18px">
                            Selecionar <i class="fas fa-plus-circle" style="20px"></i>
                        </div>
                    </div>-->

                    
                    <div class="troco">
                        <h3 class="tipo-escolha" style="margin-bottom: 14px">Troco pra quanto?</h3>
                        <input type="text" name="troco" id="troco" placeholder="Ex: 50, 60, 70..." Value="R$ ">
                        <span id="caraio"></span>
                    </div>


                        <!-- BOTÃO ENVIAR -->
                        <div id="msg-wpp">Agora basta enviar a mensagem que aparecerá no seu <i class="fab fa-whatsapp" style="font-size: 14px;"></i></div>
                        <div id="btn-enviar">Finalizar Pedido <i class="fab fa-whatsapp" style="font-size: 25px"></i> </div>
                        <span id="total"></span>
                        <br><br><br>
                        <!-- BOTÃO ENVIAR -->

                </form>
            </div>
            </div>
        </section>

        <!-- RODAPÉ -->
        <div class="footer">
            <div style="text-align: center; margin-top: 20px">
                <a href="https://www.instagram.com/monalisamassas/"><i class="fab fa-instagram" ></i></a>
                <a href="https://www.facebook.com/monalisamassasespeciais"><i class="fab fa-facebook"></i></a>
                <a href="#"> <i class="fas fa-envelope-square"></i> </a>
            </div>
          </div>  
        <!-- RODAPÉ --> 

        <script src="./mokai/js/jquery3.4.1.min.js"></script>
        <script src="./mokai/js/main.js"></script>
        <script src="./mokai/js/app.js"></script>
        

    </div>
</body>
</html> 
